.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;

  &__filters-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
  }

  &__filters-item {
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 9px;
    }
  }

  &__sort {
    position: relative;
    display: flex;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 0;
  }

  &__sort-svg {
    width: 10px;
    height: 6px;
    margin-right: 7px;
  }

  .sort-svg--rotate div {
    transform: rotate(180deg);
  }

  &__sort-list {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--white-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    padding-top: 13px;
    border-radius: 10px;
  }

  .sort-list--active {
    display: block;
  }

  &__sort-item {
    padding: 10px 14px;
    font-weight: 400;

    & button {
      text-transform: lowercase;
    }

    &--current {
      color: var(--accent-color);
      background-color: var(--accent-bg-color);
      font-weight: 700;
      pointer-events: none;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-right: 7px;
    }

    &--accent {
      color: var(--accent-color);
      font-weight: 400;
      border-bottom: 1px dotted var(--accent-color);
    }
  }
}
