:root {
  --black-color: #000;
  --white-color: #fff;
  --dark-color: #282828;
  --grey-color: #7b7b7b;
  --semi-dark-color: #b6b6b6;
  --light-grey-color: #d3d3d3;
  --semi-light-color: #f9f9f9;
  --light-color: #f4f4f4;
  --accent-color: #fe5f1e;
  --accent-bg-color: rgba(254,95,30,.1);
}
